@import "../global/variables.scss";
.home {
  &-grid {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: repeat(24, 50px);
    &-nav {
      grid-column: 1 / 2;
      grid-row: 1 / span 24;
      background-color: $red-secondary;
    }
    &-header {
      grid-column: 2/4;
      grid-row: 1/2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: $gray-secondary solid 1px;
      border-radius: 20px;
      width: 50%;
      height: 40px;
      margin: auto;
      &__search {
        border: none;
        font-family: "quicksand";
        font-size: 1.3rem;
        width: 70%;
        outline: none;
      }
      &__icon {
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
    &-information {
      grid-column: 2/4;
      grid-row: 2/ 8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title {
      grid-column: 2/4;
      grid-row: 8/9;
      display: flex;
      justify-content: left;
      align-items: center;
      color: $red-princial;
      font-size: 1.9rem;
      font-weight: 700;
      margin-left: 3%;
      font-family: "quicksand";
    }
    &-results {
      grid-column: 2/4;
      grid-row: 9 / 22;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(5, 170px);
      gap: 10px;
      &__not_results {
        font-size: 2rem;
        color: $gray-secondary;
        font-family: "quicksand";
        font-weight: 700;
        text-align: center;
        margin: 20px 0;
        grid-column: 1/6;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .home {
    &-grid {
      grid-template-columns: 100%;
      grid-template-rows: repeat(64, 60px);
      margin-bottom: 150px;
      &-nav {
        display: none;
        grid-column: 1 / 2;
        grid-row: 1 / span 24;
        background-color: $red-secondary;
      }
      &-header {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 90%;
      }
      &-information {
        grid-column: 1/2;
        grid-row: 2/ 14;
      }
      &__title {
        grid-column: 1/2;
        grid-row: 14/15;
      }
      &-results {
        grid-column: 1/2;
        grid-row: 15 / 65;
        width: 200px;
        margin: 0 auto;
        grid-template-columns: 200px;
        &__not_results {
          font-size: 1.5rem;
          margin: 20px auto;
          grid-column: 1/2;
        }
      }
    }
  }
}
@media (min-width: 700px) and (max-width: 1300px) {
  .home {
    &-grid {
      display: grid;
      width: 100%;
      grid-template-rows: repeat(30, 50px);
      &-nav {
        grid-row: 1 / span 30;
      }
      &-results {
        margin: 0 auto;
        width: auto;
        grid-template-columns: repeat(3, 170px);
      }
    }
  }
}
@media (min-width: 1600px) {
  .home {
    &-grid {
      grid-template-rows: repeat(24, 70px);
    }
  }
}
