@import "../global/variables.scss";
.home {
  &-grid {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: repeat(24, 50px);
    &-nav {
      grid-column: 1 / 2;
      grid-row: 1 / span 24;
      background-color: $red-secondary;
    }
    &-header {
      grid-column: 2/4;
      grid-row: 1/2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: $gray-secondary solid 1px;
      border-radius: 20px;
      width: 50%;
      height: 40px;
      margin: auto;
      &__search {
        border: none;
        font-family: "quicksand";
        font-size: 1.3rem;
        width: 70%;
        outline: none;
      }
      &__icon {
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
    &-information {
      grid-column: 2/4;
      grid-row: 2/ 8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title {
      grid-column: 2/4;
      grid-row: 8/9;
      display: flex;
      justify-content: left;
      align-items: center;
      color: $red-princial;
      font-size: 1.9rem;
      font-weight: 700;
      margin-left: 3%;
      font-family: "quicksand";
    }
    &-results {
      grid-column: 2/4;
      grid-row: 9 / 22;
      width: 95%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(5, 170px);
      gap: 10px;
      &__not_results {
        font-size: 2rem;
        color: $gray-secondary;
        font-family: "quicksand";
        font-weight: 700;
        text-align: center;
        margin: 20px 0;
        grid-column: 1/6;
        width: 100%;
      }
    }
  }
}
